#header {
	background-color: 	#FFFFFF;
	color: white;
	margin: 0;
	align-content: left;
	height: 100%;
}

.headerText {
	text-align: center;
	font-weight: bold;
	color: black;
	font-family: "Lucida Console";
}

body {
	background-color: 	#FFFFFF;
	margin: 0;
	align-content: center;
	height: 100%;
}

#wrapper {
    align-content: center;
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr 30px;
}

#content {
	margin-bottom: 150px;
	margin-left: 50px;
	margin-right: 50px;
	align-self: center;
    background-color: #0000;
    align-content: center;
}

.footerText {
	font-size: 10pt;
	font-weight: bold;
}

.centerAlign {
	text-align: center;
}

.rightAlign {
	text-align: right;
}

.width20 {
	width: 200px !important;
}

.noBorder {
	border: none !important;
}

.btn-search{
	background-color: #efb519 !important; 
	border: #0000 !important;
	margin-left: 4px !important;

}

.btn-add{
	background-color: #27d515 !important;
	border: none !important;
	float: right !important;

}

.btn-save{
	background-color: #27d515 !important;
	border: none !important;
}

.btn-cancel{
	background-color: red !important;
	border: none !important;
	float: right !important;
}

.text-red {
	color: red;
}

.text-green {
	color: green;
}

menuitem{
	align-content: center;
	align-self: center;
	margin-bottom: 1000px;
	margin-left: 50px;
	margin-right: 50px;
	align-content: center;

}